body {
  background-color: black;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  text-align: center;
  font-size: 1.8rem bold;
}

td {
  border: 5px solid white;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
}

.table {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.83rem;
  font-weight: bold;
}

.result {
  padding-left: 94px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.83rem;
}

footer {
  font-family: sans-serif;
  font-size: 0.83rem;
  padding-top: 15px;
}
